<a id="SearchMovieFormToggle" style="display:none" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#SearchMovieForm" aria-expanded="false" aria-controls="collapseTwo" data-expandable="false">
    <i class="material-icons md-light pmd-lg md-active">search</i>
</a>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="position: fixed;width: 100%;z-index: 1000">
    <div class="panel panel-default">
        <div id="SearchMovieForm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <!--Start Search Movie Form-->
                <div class="form-group pmd-textfield form-group-lg">
                    <label for="Large" class="control-label">Movie Title</label>
                    <input type="Large" id="regular1" class="form-control input-group-lg" placeholder="">
                </div>

                <div class="form-group pmd-textfield form-group-lg">
                    <label for="Large" class="control-label">Director Name</label>
                    <input type="Large" id="regular1" class="form-control input-group-lg" placeholder="">
                </div>

                <div class="form-group pmd-textfield form-group-lg">
                    <label for="Large" class="control-label">Release Year</label>
                    <input type="Large" id="regular1" class="form-control input-group-lg" placeholder="">
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label" style="width:100%">
                    <label>Genre(s)</label>
                    <select class="select-tags form-control pmd-select2-tags" multiple style="width:100%">
                        <option>Action</option>
                        <option>Romance</option>
                        <option>Horror</option>
                    </select>
                </div>

                <button class="btn pmd-btn-flat btn-primary btn-block pmd-ripple-effect" type="button">Search</button>
                <!--End Search Movie Form-->
            </div>
        </div>
    </div>
</div>