<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Get Movies</title>
    <link rel="icon" href="~/Assets/images/shared/fav-icon.png">
</head>
<body style="background-image: url('../../../Assets/images/shared/body-backgroud.jpg');background-repeat: no-repeat;background-size: cover" ;>
    @Html.Partial("Partials/Components/_Navbar")
    @Html.Partial("Partials/Forms/Movies/_SearchMovie",new Get_Movies.Models.Movie())
    @RenderBody()
</body>
</html>