@using Get_Movies.Models
@using System.Web.Optimization
@model Get_Movies.Models.Movie

@{
    ViewBag.Title = "Admin Dashboard";
}


<!--Basic Bootstrap Tab start -->
<div>
    <!-- Nav tabs -->
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href=@Url.Action("addmovie")>Add Movie</a></li>
        <li role="presentation" class="active"><a href=@Url.Action("listmovie")>list Movie</a></li>
        <li role="presentation"><a href=@Url.Action("deletemovie")>Delete & Update</a></li>
        <li role="presentation"><a href=@Url.Action("movierequest")>Review Movie Requests</a></li>
        <li role="presentation"><a href=@Url.Action("banuser")>Ban User</a></li>
        <li role="presentation"><a href="#work" aria-controls="work" role="tab" data-toggle="tab">Add Advertisement</a></li>
    </ul>
    <div class="pmd-card">
        <div class="pmd-card-body">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="about">

                    <div>

                        @Html.Partial("../Shared/Partials/Forms/Movies/listmovie")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

