@using Get_Movies.Models
@model List<Get_Movies.Models.Playlist>

<!-- Regular Input -->
@foreach (Playlist item in Model)
{
    using (Html.BeginForm("playlists", "Premium", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form" }))
    {
        <a class="list-group-item" href="javascript:void(0);">Titel :@item.Title <br /></a>
        <input name="id" hidden value="@item.Id" style="display:none" />
        <div style="display:inline-block;margin:10px">
            <button data-target="@("#showPlaylistMovies"+item.Id)" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Show Movies</button>
            <div tabindex="-1" class="modal fade" id="@("showPlaylistMovies"+item.Id)" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header pmd-modal-bordered">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h2 class="pmd-card-title-text">@item.Title Movies</h2>
                        </div>
                        <div class="pmd-modal-list">
                            <ul class="list-group pmd-list">
                               @foreach (Movie movie in item.Movies)
                               {
                                <li class="list-group-item">
                                    <div class="pmd-card pmd-card-default pmd-z-depth">
                                        <div class="pmd-card-body">
                                            <!-- Card media -->
                                            <div class="media-body">
                                                <a href="javascript:void(0);">
                                                    <img width="330" height="228" src="http://propeller.in/assets/images/profile-pic.png">
                                                </a>
                                            </div>

                                            <!-- Card media actions -->
                                            <div class="media-right">
                                                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i style="color:#000" class="material-icons pmd-sm">play</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                               }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:inline-block;margin:10px">
            <button type="submit" class="btn btn-primary" value="Delete Playlist" name="submit"> Delete Playlist </button>
        </div>
    }
}


